@font-face {
	font-family: 'Verlag Black';
	src: url('/fonts/Verlag Black.woff2') format('woff2'),
		url('/fonts/Verlag Black.otf') format('otf');
}

@font-face {
	font-family: 'Chronicle Text';
	src: url('/fonts/Chronicle Text.woff2') format('woff2'),
		url('/fonts/Chronicle Text.otf') format('otf');
}

@mixin flex() {
	display: flex;
	justify-content: center;
	align-items: center;
}

:root {
	--font-body: 'Chronicle Text', Cambria, Georgia, serif;
	--font-header: 'Verlag Black', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
	--font-mono: monospace;
	--bg-color: white;
	--text-color: hsl(0, 0%, 27%);
	@media (prefers-color-scheme: dark) {
		--bg-color: hsl(0, 0%, 13%);
		--text-color: hsl(0, 0%, 100%);
	}
}

html,
body {
	overflow: hidden;
}

body {
	min-height: 100vh;
	font-size: 16px;
	margin: 0;
	font-family: var(--font-body);
	background-color: var(--bg-color);
  color: var(--text-color);
}

#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-header);
}

p {
	line-height: 1.5;
}

h1 {
	font-size: 2rem;
	margin: 0 0 1em 0;
	text-align: center;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

ul {
	@include flex;
	flex-direction: column;
	align-items: flex-start;
	flex: none;
}

a {
	cursor: pointer;
}

.huge {
	font-size: 9rem;
}
