@font-face {
	font-family: 'Verlag Black';
	src: url('/fonts/Verlag Black.woff2') format('woff2'),
		url('/fonts/Verlag Black.otf') format('otf');
}

@font-face {
	font-family: 'Chronicle Text';
	src: url('/fonts/Chronicle Text.woff2') format('woff2'),
		url('/fonts/Chronicle Text.otf') format('otf');
}

@mixin flex() {
	display: flex;
	justify-content: center;
	align-items: center;
}

:root {
	--font-body: 'Chronicle Text', Cambria, Georgia, serif;
	--font-header: 'Verlag Black', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
	--font-mono: monospace;
	--bg-color: white;
	--text-color: hsl(0, 0%, 27%);
	@media (prefers-color-scheme: dark) {
		--bg-color: hsl(0, 0%, 13%);
		--text-color: hsl(0, 0%, 100%);
	}
}

html,
body {
	overflow: hidden;
}

body {
	min-height: 100vh;
	font-size: 16px;
	margin: 0;
	font-family: var(--font-body);
	background-color: var(--bg-color);
	color: var(--text-color);
}

#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-header);
}

p {
	line-height: 1.5;
}

h1 {
	font-size: 2rem;
	margin: 0 0 1em 0;
	text-align: center;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

ul {
	@include flex;
	flex-direction: column;
	align-items: flex-start;
	flex: none;
}

a {
	cursor: pointer;
}

.huge {
	font-size: 9rem;
}

.btn {
	padding: 0.7rem 2rem;
	border-radius: 0.2rem;
	background-color: hsl(0, 0%, 30%);
	&:hover {
		background-color: hsl(0, 0%, 50%);
	}
}

input,
select,
button {
	padding: 0.2rem 0.6rem;
	margin: 0 0 0.25rem 0;

	border: 0.15rem solid hsl(0, 0%, 70%);
	border-radius: 0.4rem;

	background-color: transparent;

	color: var(--color-text);

	align-self: flex-start;

	&:focus {
		box-shadow: 0 0 0 0.2rem hsla(224, 100%, 66%, 0.5);
		outline: none;
	}
}

select {
	background: transparent
		url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='hsla(0,0%,95%)'><polygon points='0,0 100,0 50,50'/></svg>")
		no-repeat;
	background-size: 12px;
	background-position: calc(100% - 10px) 70%;
	background-repeat: no-repeat;

	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;

	padding-right: 1.8rem;

  option {
    background-color: hsla(0, 0%, 1%, 0);
  }
}

input::placeholder, textarea::placeholder {
  opacity: initial;
  color: rgb(185, 185, 185)
}